<form [formGroup]="formGroup">
  <div class="mb-3">
    <label for="search">Search</label>
    <input
      formControlName="q"
      type="text"
      class="form-control"
      id="search"
      placeholder="Search news"
    >
  </div>

  <div class="mb-3">
    <label for="category">Category</label>
    <select
      formControlName="category"
      class="form-select"
      id="category"
    >
      <option value="">All categories</option>
      <option value="business">Business</option>
      <option value="entertainment">Entertainment</option>
      <option value="general">General</option>
      <option value="health">Health</option>
      <option value="science">Science</option>
      <option value="sports">Sports</option>
      <option value="technology">Technology</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="typeahead-focus">Search for a country:</label>
    <input
      formControlName="country"
      id="typeahead-prevent-manual-entry"
      type="text"
      class="form-control"
      [ngbTypeahead]="search"
      [inputFormatter]="formatter"
      [resultFormatter]="formatter"
      [editable]="false"
    />
  </div>

  <div class="mb-3">
    <button type="button" class="btn btn-primary w-100" (click)="setFilters()">Set Filters</button>
  </div>
  <div class="mb-3">
    <button type="button" class="btn btn-secondary w-100" (click)="clearFilters()">Reset</button>
  </div>
</form>
