<main class="v-center">
  <section class="error-404">
    <div class="error-404__box">
      <div class="error-404__title mb-3">
        <img src="assets/img/404.svg" alt="404" height="200"/>
      </div>
      <div class="error-404__subtitle"><h3>Page not found</h3></div>
      <div class="error-404__info">
       Check the URL in the address bar and try again
      </div>
      <button routerLink="" label="Back to the main page" class="btn btn-primary">Back to the main page</button>
    </div>
  </section>
</main>
