:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-404__info {
  margin-bottom: 2rem;
}
