:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plug__info {
  margin-bottom: 2rem;
}
